<%- include('partials/_header') %>
<%- include('partials/_body_book') %>

<% 
    //Handle book optinal fields
    if (data.book.series == 'NaN'){
      series = '';
    }
    else{ 
      series = data.book.series.replace('(', '').replace(')', '')
    } 
    if (data.book.characters == 'NaN'){
      characters = '';
    }
    else{ 
      characters = data.book.characters.replace('(', '').replace(')', '')
    } 
    if (data.book.settings == 'NaN'){
      settings = '';
    }
    else{ 
      settings = data.book.settings.replace('(', '').replace(')', '')
    } 

    //Handle genres
    
    genres = data.book.genre_and_votes.replace(/[0-9]/g, '').split(",")
    genres = genres.map(function (elem) {
    return elem.trim();
    });


    //Handle ratings
    five = (data.book.five_star_ratings / data.book.rating_count) * 100
    four = (data.book.four_star_ratings / data.book.rating_count) * 100
    three = (data.book.three_star_ratings / data.book.rating_count) * 100
    two = (data.book.two_star_ratings / data.book.rating_count) * 100
    one = (data.book.one_star_ratings / data.book.rating_count) * 100
%>
    
    
<% if (locals.data) { %>
  <div class = "book-details row justify-content-center">      
    <div class = "book-cover-col col-3 ms-5 me-1 mt-5 d-flex flex-column align-items-center">
      <div class = "book-cover-bg p-4 ">
        <div class= "book-cover" style="background-image: url(<%= data.book.cover_link %>);">
        </div>
      </div>
      <div class = "book-links-bg p-4 mt-3 d-flex flex-column align-items-center">
        <a class = "mb-4" href="<%= data.book.link %>"><img src = "../assets/logo.svg" alt="" height = "30px"></a>
        <a class = "mb-3" href="<%= data.book.amazon_redirect_link %>"><img src = "../assets/amazon_logo.svg" alt="" height = "30px"></a>
        <a href="<%= data.book.worldcat_redirect_link %>"><img src = "../assets/worldcat_logo.svg" alt="" height = "35px"></a>
      </div>
    </div>
    <div class = "book-info-bg p-4 me-5 mt-5 col overflow-auto">
      <div class = "book-info overflow-auto">
        <h5 class = "mb-1" id="book-series"><%=series%></h5>
        <h1 class = "mb-1" id= "book-title" ><%= data.book.title%></h1>
        <div class="author-details d-flex">
          <a id="book-author" href = "../search?query=<%= data.book.author %>"><%= data.book.author %></a> 
          <a class = "ms-2" href="<%= data.book.author_link %>"><img src = "../assets/logo_tiny.svg" alt="" height = "20px"></a>
        </div>
        <div class="mb-4"></div>
        <div class="ratings d-flex">
          <div class="star-rating-and-count">
            <div class = "star-rating d-flex">
              <h3 class = "mb-0 me-2" id = "book-average_rating"><%= data.book.average_rating %></h3>
              <img src="../assets/star.svg" alt="" width="30px" height="30px"> 
            </div>
            <div id = "book-rating_count"><%= data.book.rating_count %> Ratings</div>
          </div>
          <div class= "star-graph d-flex flex-column ms-5">
            <div class="bar mb-1 d-flex align-items-center">
              <div class="star-label me-2">5 ⭐</div>
              <div class="progress me-2" style="width: 8rem; height: 0.5rem;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%=five%>%" aria-valuenow="<%=five%>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="individual-star-count"> <%=data.book.five_star_ratings%></div>
            </div>
            <div class="bar mb-1 d-flex align-items-center">
              <div class="star-label me-2">4 ⭐</div>
              <div class="progress me-2" style="width: 8rem; height: 0.5rem;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%=four%>%" aria-valuenow="<%=four%>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="individual-star-count"> <%=data.book.four_star_ratings%></div>
            </div>
            <div class="bar mb-1 d-flex align-items-center">
              <div class="star-label me-2">3 ⭐</div>
              <div class="progress me-2" style="width: 8rem; height: 0.5rem;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%=three%>%" aria-valuenow="<%=three%>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="individual-star-count"> <%=data.book.three_star_ratings%></div>
            </div>
            <div class="bar mb-1 d-flex align-items-center">
              <div class="star-label me-2">2 ⭐</div>
              <div class="progress me-2" style="width: 8rem; height: 0.5rem;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%=two%>%" aria-valuenow="<%=two%>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="individual-star-count"> <%=data.book.two_star_ratings%></div>
            </div>
            <div class="bar mb-1 d-flex align-items-center">
              <div class="star-label me-2">1 ⭐</div>
              <div class="progress me-2" style="width: 8rem; height: 0.5rem;">
                <div class="progress-bar bg-warning" role="progressbar" style="width: <%=one%>%" aria-valuenow="<%=one%>" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
              <div class="individual-star-count"> <%=data.book.one_star_ratings%></div>
            </div>
          </div>
        </div>
        <div class="mb-4"></div>
        <div><%= data.book.description %></div> 
        <div class="mb-4"></div>
        <div class = "book-genres d-flex">
          <% genres.forEach(function(genre) { %>
            <a href = "../search?query=<%=genre%>" class = "book-genre me-3"><%=genre%></a>
          <% }) %>
        </div> 
        
        <%if (data.book.awards != "NaN"){%>
          <div class="mb-4"></div>
          <div id = "book-awards"><%= data.book.awards %></div>
          <div class="mb-4"></div>
        <%}else{%>
          <div class="mb-4"></div>
        <%}%>
        <div class= "book-info-details">
          <div class="book-optional-details container p-0">
            <div class = "row mb-1">
              <div class = "col" style="color:lightgray;">Original Title</div>
              <div class= "col"><%= data.book.original_title %></div>
            </div>
            <div class = "row mb-1">
              <div class = "col" style="color:lightgray;">Series</div>
              <div class= "col"><%=series%></div>
            </div>
            <div class = "row mb-1">
              <div class = "col" style="color:lightgray;">Setting</div>
              <div class= "col"><%=settings%></div>
            </div>
            <div class = "row">
              <div class = "col" style="color:lightgray;">Characters</div>
              <div class= "col"><%=characters%></div>
            </div>
          </div>
          <div class="mb-4"></div>
          <h5 class= "mb-3">Edition details</h5>
          <div class="book-edition-details container p-0">
            <div class = "row mb-1">
              <div class = "col" style="color:lightgray;">Format</div>
              <div class= "col"><%= data.book.number_of_pages%> Pages</div>
            </div>
            <div class = "row mb-1">
              <div class = "col" style="color:lightgray;">Published</div>
              <div class= "col"><%= data.book.date_published%> by <%= data.book.publisher %></div>
            </div>
            <div class = "row">
              <div class = "col" style="color:lightgray;">ISBN</div>
              <div class= "col"><%= data.book.isbn13 %> (ISBN10: <%= data.book.isbn %>)</div>
            </div>
          </div>

          
        </div>
        
      </div>
    </div>
    
  </div>
<% } %>
<%- include('partials/_footer') %>


<!--
<div class="book-content">
  <div><%= data.book.recommended_books %></div>
  <div><%= data.book.books_in_series %></div>
  <div><%= data.book.reviews %></div>
</div>-->
